<div class="page-header">
  <h3>Tagtorestaurant #<%= @tagtorestaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @tagtorestaurant.restaurant_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tagtorestaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/tagtorestaurants/<%= @tagtorestaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tagtorestaurant/<%= @tagtorestaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
